/* Login-email-section */
form#emailForm {
    max-width: 300px;
    margin-top: 2rem;
}

input {
-webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
border: 1px solid rgb(250, 250, 250);
border-radius: .1875rem;
box-sizing: border-box;
display: block;
font-size: .875rem;
margin-bottom: 1rem;
padding: .675rem;
width: 100%;
background-color: rgb(235, 235, 235);
}

input[type="checkbox"] {
-webkit-appearance: checkbox;
    -moz-appearance: checkbox;
        appearance: checkbox;
display: inline-block;
width: auto;
}

input[type="password"] {
margin-bottom: .5rem;
}

input[type="submit"] {
background-color: #EE1C4D;
border: none;
color: #fff;
font-size: 1rem;
padding: .5rem 1rem;
width: 150px;
}

label {
color: #666;
font-size: .875rem;
}

span.caseSensitive{
    font-size: .6rem;
    margin-left: 20px;
}
/* Login-email-section-END */

.vr-surround-img {
    width: 100%;
}

.privacy-link{
    color:red;
    margin-top: 2rem;
    display: block;
}