@font-face {
    font-family: thinMetro;
    src: url(../font/metropolis/Metropolis-Light.otf);
    font-family: regularMetro;
    src: url(../font/metropolis/Metropolis-Regular.otf);
    font-family: mediumMetro;
    src: url(../font/metropolis/Metropolis-SemiBold.otf);
    font-family: boldMetro;
    src: url(../font/metropolis/Metropolis-Bold.otf);
  }


body{
    line-height: 1;
    font-family: 'Metropolis', sans-serif;
    font-size: 15px;
}







.container{
    padding: 4rem;
}



#logo{
    width: 150px;
    margin-bottom: 1rem;
}

h4{
    font-size: 23px;
}

